{
  "parser": "babel-eslint",
  "extends": ["airbnb", "prettier", "plugin:prettier/recommended"],
  "plugins": ["prettier", "flowtype", "jest"],
  "env": {
    "browser": true
  },
  "globals": {
    "document": false,
    "console": true
  },
  "rules": {
    "no-console": "off",
    "prettier/prettier": "error",
    "import/no-named-as-default": 0,
    "import/no-named-as-default-member": 0,
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true,
        "optionalDependencies": false
      }
    ]
  }
}
